<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="amount">Amount</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input required="required" type="number" step="0.01" class="form-control" placeholder="20" id="amount">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="description">Description</label>
    <input required="required" type="text" class="form-control" id="description" placeholder="<%= exampleDescription %>">
  </div>
  <div class="form-group">
    <label class="sr-only" for="date">Date</label>
    <input type="date" class="form-control" value="<%= today %>" id="date">
  </div>
  <div class="form-group">
    <label class="sr-only" for="category">Category</label>
    <select class="form-control" id="category">
      <% _.each(categories, function (categoryPair) { %>
        <option value="<%=categoryPair[1]%>"><%= categoryPair[0] %></option>
      <% }); %>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" id="expense">Add as Expense</button>
  <button type="submit" class="btn btn-default" id="income">Add as Income</button>
</form>
