<form class="form-inline" role="form", id="date_filter">
    <label>Filter by date: </label>
    <br>
    From <input type="date" id="display_from" value="<%= earliestMoment %>"/>
     to <input type="date" id="display_to" value="<%= latestMoment %>"/>
    <input type="button" id="reset_chart" value="Update" />
</form>
