<div id="item_explanation_div">
    <label>Item detail: </label>
    <br>
    <p>Description: <%= description %></p>
    <p>Amount:      €<%= amount %></p>
    <p>Created:     <%= created %> </p>
    <p>Category:    <%= category %> </p>
</div>
